{% extends 'log_in_register.html' %}

{{% block javascript %}




    function deleteentry(entry_id, this_table_row) {

        //element = document.getElementById(this_table_row);
        //alert(entry_id);
        urll = "delete_by_id/" + entry_id + "/"
        $.ajax({
            url: urll,
            type: 'DELETE',
            data: {'pk': entry_id},
            statusCode: {
                404: function() {console.log("entry not found");},
                401: function() {console.log("unauthorised");},
                405: function() {console.log("method not allowed");},
                200: function() {//alert( "entry deleted" );
                //alert($(element));

                this_table_row.remove();
                },
            },

        });
    }


    function get_current_time(pk){

        var current_time;
        urll = "/get_current_time/" + pk + "/"
        $.ajax({
            type: "GET",
            url: urll,
            dataType: "json",
            data: {"pk": pk},
            async:false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {current_time = data;}
        });
        return current_time;
        alert(current_time);
    }


    function editentry(i, entry_id, tdA, tdB, tdO){

        var new_entry_name = tdA.value;
        var new_city_name = tdB.value;
        var new_offset = tdO.value;


        urll = "edit_by_id/" + entry_id + "/"

        $.ajax({

            url: urll,
            type: 'UPDATE',
            data: {'entry_name': new_entry_name, 'city_name': new_city_name, 'offset': new_offset},
            dataType: 'json',
            statusCode:
            {
                405: function() {console.log("method not allowed");},
                401: function() {console.log("unauthorised");},
                404: function() {console.log("not found");},
                200: function() {get_to_show_entries();},
                204: function() {console.log("no content to show");},
                400: function(data) {
                        dataa = JSON.stringify(data);
                        var to_show = JSON.parse(dataa);
                        var to_showw = JSON.parse(to_show.responseText);
                        alert(to_showw.errors);
                        },
            },
        });

        //get_to_show_entries();





    }


    function show_all_entries(data){

        dataa = JSON.stringify(data);
        var entry_list = JSON.parse(dataa);

        var frameid = document.getElementById("to_be_filled_with_entries");
        if (frameid){
            //var od_tuka = document.getElementById("entry_list_wrapper");
            document.getElementById("entry_list_wrapper").removeChild(frameid)
        }


        document.getElementById("entry_list_wrapper").style.display = "table-cell";
        var iDiv = document.createElement('div');
        iDiv.id = 'to_be_filled_with_entries';
        iDiv.className = 'block';
        document.getElementById("entry_list_wrapper").appendChild(iDiv);


        var data_table = document.createElement('table')

        for (var i = 0, n = entry_list.length; i < n; i++)
        {

            var pk = entry_list[i].pk
            var current_time = "";

            urll = "/get_current_time/" + pk + "/"
            $.ajax({
                type: "GET",
                url: urll,
                dataType: "json",
                async:false,
                contentType: "application/json; charset=utf-8",
                statusCode:
                {
                    401: function() {console.log("unauthorised");},
                    200: function() {console.log("OK");},
                    405: function() {console.log("method not allowed");},
                    404: function() {console.log("nothing found");},
                },
                success: function (data) {current_time = data;}
            });
            console.log(current_time);



            var tr = document.createElement('tr');
            tr.id = entry_list[i].pk;

            var tdID = tr.appendChild(document.createElement('td'));
            tdID.innerHTML = entry_list[i].pk;

            var tdAtd = tr.appendChild(document.createElement('td'));
            var tdA = tdAtd.appendChild(document.createElement('input'));
            tdA.type= "text";
            tdA.value = entry_list[i].fields.entry_name;

            var tdBtd = tr.appendChild(document.createElement('td'));
            var tdB = tdBtd.appendChild(document.createElement('input'));
            tdB.type= "text";
            tdB.value = entry_list[i].fields.city_name;

            var tdOtd = tr.appendChild(document.createElement('td'));
            var tdO = tdOtd.appendChild(document.createElement('input'));
            tdO.type= "time";
            tdO.placeholder="hrs:mins"
            pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$";
            tdO.value = entry_list[i].fields.gmt_offset_display;

            //TODO
            var tdCU = tr.appendChild(document.createElement('td'));
            tdCU.innerHTML = current_time; //data.entry_list[i].current_time;
            //var tdU = tr.appendChild(document.createElement('td'));
            //tdU.innerHTML = data.entry_list[i].user;



            //delte entry button
            var tdE = tr.appendChild(document.createElement('td'));
            var delB_link = tdE.appendChild(document.createElement('input'));
            delB_link.type = "button";
            delB_link.setAttribute("class", "delete-button");
            delB_link.value = "X";
            delB_link.setAttribute("data-url", entry_list[i].pk);
            somevar = entry_list[i].pk;
            layout_parent = data_table;
            this_table_row = tr;
            //delB_link.addEventListener('click', function(){delete_entry_func(somevar, this_table_row);}, false);


            delB_link.onclick = function(somevar, this_table_row){
                return function(event){
                        deleteentry(somevar, this_table_row);
                }
            }(somevar, this_table_row)



            //edit entry button
            var tdF = tr.appendChild(document.createElement('td'));
            var edit_link = tdF.appendChild(document.createElement('input'));
            edit_link.type = "button";
            edit_link.setAttribute("class", "edit-button");
            edit_link.value = "E";
            edit_link.setAttribute("data-url", entry_list[i].pk);
            edit_link.id = i;

            edit_link.onclick = function(i, somevar, tdA, tdB, tdO){
                return function(event){
                        editentry(i, somevar, tdA, tdB, tdO);
                }
            }(i, somevar, tdA, tdB, tdO)

            data_table.appendChild(tr);
        }

        iDiv.appendChild(data_table);

    }


    function get_to_show_entries(){

        var filter_text = $("#filter_field").val();


        $.ajax({

            url: '{% url "entry_list" %}',
            type: 'GET',
            data: {'query': filter_text},
            dataType: 'json',
            handleAs: "json",
            //username: this_user,
            //password: this_password,
            //beforeSend: function (request){request.setRequestHeader("Authorization", "Basic  dG9tY2F0OnRvbWNhdA==");},
            //headers: {"Authorization": "Basic " + btoa({{ request.user.username }} )},
            statusCode:
            {
                404: function() {console.log("no entries found");},
                404: function() {console.log("nothing found");},
                401: function() {console.log("unauthorised");},
                200: function(data) {show_all_entries(data);},
            },

            //success: function (data)
            //{
            //    show_all_entries(data);
            //},


        });


    }


    $("#button_show_entries").click(function(){

        get_to_show_entries();
    });


    $("#button_add_entry").click(function(){

        var entry_name = $("#entry_name").val();
        var city_name = $("#city_name").val();
        var gmt_offset = $("#gmt_offset").val();

        $.ajax({

            url: '{% url "submit_entry" %}',
            type: 'PUT',
            data: {'entry_name': entry_name, 'city_name': city_name, 'gmt_offset': gmt_offset},
            dataType: 'json',
            statusCode:
            {
                409: function() {alert("entry with this name already exists");},
                401: function() {alert("unauthorised");},
                201: function() {get_to_show_entries();},
                405: function() {console.log("method not allowed");},
                400: function(data) {
                        dataa = JSON.stringify(data);
                        var to_show = JSON.parse(dataa);
                        var to_showw = JSON.parse(to_show.responseText);
                        alert(to_showw.errors);
                        },

                //{alert(data.responseText);},
            },
        });



    });

    $("#button_check_city").click(function(){

        var city_name = $("#city_name").val();

        $.ajax({

            url: '{% url "check_city" %}',
            type: 'GET',
            data: {'query': city_name},
            dataType: 'json',
            statusCode:
            {
                404: function() {console.log("no entries found");},
                401: function() {console.log("unauthorised");},
                200: function() {console.log("entries ok");},
                405: function() {console.log("method not allowed");},
            },
            success: function (data) {

                alert(data.entry_list);

            },
        });
    });



{% endblock %}

{{% block body %}

<div style="display: table-row;">
<div id="filter_div" class="regular" style="display: table-cell;">
    <input type="text" id='filter_field'>
    <input type="button" class="regular_button" id="button_show_entries" value="view entries">
</div>
<div id="entry_list_wrapper" class = "entries_class" style="display: none;">
    <div id="to_be_filled_with_entries"></div></div>
</div>


<div style="display: table-row;">

<div id="add_entry" class="regular" style="display: table-cell;">

    <p><label>Entry Name</label></p>
    <p><input type="text" id='entry_name' value = ""></p>

    <p><label>City</label></p>
    <p><input type="text" id='city_name' value = ""></p>

    <p><input type="button" class="regular_button" id="button_check_city" value="Check City Help"></p>


    <p><label>Offset</label></p>
    <p><input type="time" id='gmt_offset' placeholder="hrs:mins" pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$" value = "00:00"></p>


    <p><input type="button" class="regular_button" id="button_add_entry" value="addentry"></p>

</div>


<div id="edit_entry" title="Edit Entry" style="display: none" class="regular">

    <p><label>Entry ID</label></p>
    <p><input type="text" id='edit_entry_id' value = ""></p>

    <p><label>New Entry Name</label></p>
    <p><input type="text" id='edit_entry_name' value = ""></p>

    <p><label>New City Name</label></p>
    <p><input type="text" id='edit_city_name' value = ""></p>

    <p><label>New Offset</label></p>
    <p><input type="text" id='edit_offset' placeholder="hrs:mins" pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$" value = "00:00"></p>

    <p><input type="button" class="regular_button" id="button_change_entry" value="change entry"></p>
    <p><input type="button" class="regular_button" id="button_hide_entries" value="cancel"></p>

</div>
</div>



{% endblock %}

<!--
<label id="name">{{ request.user.username }}</label>
<label id="password">{{ request.user.password }}</label>
<div id="entries_list">

    <h1>Entries</h1>
    {% for entry in user_entries %}
        <p><div id={{entry.id}}>
                <p>
                {{ entry.entry_name }}
                {{ entry.city_name }}
                {{ entry.user }}
                </p>
                <p>
                <table>
                {% for object in entry.tmz.all %}
                    <tr><td>Timezone Name</td><td>{{ object.timezone_name }}</td></tr>
                    <tr><td>Offset</td><td>{{ object.offset }}</td></tr>
                    <tr><td>Local Time</td><td>{{ object.local_time }}</td></tr>
                    <tr><td>Longitude</td><td>{{ object.longitude }}</td></tr>
                    <tr><td>Latitude</td><td>{{ object.latitude }}</td></tr>
                {% endfor %}
                </table>
            <a href="#" class="delete-button" data-url="{% url 'delete_by_id' entry.id %}">Delete {{entry.entry_name}}</a>
        </div>

    {% endfor %}

</div>
-->
